<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>test5</display-name>
<!--
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
-->
  <servlet>
    <description>TestPochete</description>
    <display-name>TestPochete</display-name>
    <servlet-name>TestPochete</servlet-name>
    <servlet-class>com.chema.web.TestPochete</servlet-class>
  </servlet>
  <servlet>
    <description>listjndi</description>
    <display-name>listjndi</display-name>
    <servlet-name>listjndi</servlet-name>
    <servlet-class>com.chema.web.ListJndi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listjndi</servlet-name>
    <url-pattern>/listjndi</url-pattern>
  </servlet-mapping>
</web-app>
